:host{
    ion-header{
        ion-toolbar{
            ion-menu-button::part(native){
                font-size: 32px;
                color: #fff;
            }

            ion-button{
                &::part(native){
                    &::after{
                        background: #0000001f;
                    }
                }
            }

            ion-button::part(native){
                padding: 0;
                background-color: transparent;
                border: none;
                box-shadow: none;
            }
        }
    }
}