:host{
    ion-header{
        ion-toolbar{
            padding-top: 0.5rem;
            ion-menu-button::part(native){
                font-size: 32px;
                color: #fff;
            }

            ion-button::part(native){
                padding: 0;
                background-color: transparent;
                border: none;
                box-shadow: none;
            }
        }
    }
}