// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@mixin custom-variables {
    --header-color: #202020;
    --background-color: #090909;

    --primary-text-color: #fff;
    --secondary-text-color: #d3822e;
    --disabled-text-color: #bebebe;
    --background-activated: #fff;

    --slider-img-height: 136px;

    --ion-toolbar-background: var(--header-color);
    --ion-background-color: var(--background-color);
    --ion-text-color: var(--primary-text-color);
    --ion-color-primary: #fff;
}

:root.ios {
    @include custom-variables;
}

:root.md {
    @include custom-variables;
}