
.profile-box{
    width: 100%;
    display: flex;
    background-color: #202020;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    padding-top: 5px;

    .user-data{
        width: 80%;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        .avatar{
            width: 64px;
            height: 64px;
            &::part(image){
                border-radius: 50%;
            }
        }

        p{
            margin: 0;
        }

        .user-info {
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            .plan{
                &.grey{
                    color: grey;
                }
                &.blue{
                    color: blue;
                }
                &.gold{
                    color: gold;
                }
                &.purple{
                    color: purple;
                }
            }
        }
    }

    .quick-shortcuts{
        padding: 5px 15px;
        display: flex;
        gap: 10px;
        background: #151515;
        border-radius: 32px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;
            color: var(--secondary-text-color);
            background: #151515;
            font-size: 14px;
        }
        .circle{
            border: solid 1px var(--secondary-text-color);
            border-radius: 50%;
            // width: 15px;
            // height: 15px;
            padding: 5px;
            font-size: 8px;
        }
    }
}