@import 'swiper/css';

:host{
  padding: 0 0 0 35px;

   // Efeito de blur e escurecimento à direita
    &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(to left, rgb(0 0 0 / 80%), transparent);
    pointer-events: none; 
    z-index: 10;
  }
}

swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;

      div{
        img{
            border-radius: 15px;
            filter: grayscale(1);
        }
      }
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    swiper-slide {
      width: 200px;
    }